#grafiek {
}

#graphCanvas {
}


#trajecten-container {
	clear: both;
	float: left;
	width: 100%;
	height: 322px;
	text-align: left;
}

.traject {
	position: relative;
	width: 100%;
	height: 55px;
}

.traject-title{
	float: left;
	width: 94px;
	height: 100%;
	color: #474747;
}

.traject-title h1 {
	font-size: 18px;
}

.traject-title h2 {
	font-size: 10px;
}

.traject-lijn {
	min-width: 400px;
	float: left;
	height: 100%;
}

.traject-lijn .gray-box {
	float: left;
	margin-top: 16px;
	width: 16px;
	height: 16px;
	background: #d7cfcf;
}
