.green-text {
    color: #33d130;
}

.red-text {
    color: red;
}

.blue-text {
    color: #5bb4ff;
}

#grafiek {
}

#graphCanvas {
}


#trajecten-container {
    clear: both;
    float: left;
    width: 100%;
    height: 322px;
    text-align: left;
}

.traject {
    position: relative;
    width: 100%;
    height: 55px;
}

.traject-title{
    float: left;
    width: 91px;
    margin-right: 3px;
    height: 100%;
    color: #555;
    cursor: pointer;

    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

.traject-title:hover {
    border-left: 3px solid #f0098d;
    margin-right: 0;
    padding-left: 5px;
    width: 86px;
    color: #333;
}

.traject-title:active {
    border-color: black;
    color: black;
}

.traject-title h1 {
    font-size: 18px;
    color: black;
}

.traject-title h2 {
    font-size: 10px;
}

.traject-lijn {
    position: relative;

    float: left;
    height: 100%;
}

.traject-lijn .gray-box {
    position: absolute;
    top: 16px;
    width: 16px;
    height: 16px;
    background: #d7cfcf;
}

.traject-lijn .yellow-line {
    position: absolute;
    left: 8px;
    top: 22px;
    height: 4px;
    background: #f8cb3e;
}

.traject .textBoxIU {
    float: right;
    color: gray;
    text-align: right;
    margin-top: 7px;
    margin-right: 15px;
    font-size: 10px;
    line-height: 10px;

}

.train-stop {
    position: absolute;
    top: 6px;
    width: 30px;
    height: 30px;
    border: 3px solid #f8ce46;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    border-top-style: solid;

    background: white;

    text-align: center;
    line-height: 30px;
    color: #f0098d;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    /*    border-left-style: double;
        border-right-style: double;*/

    border-left-color: #d7cfcf;
    border-right-color: #d7cfcf;

    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

.train-stop:hover {
    border-left-color: #f0098d;
    border-right-color: #f0098d;
    border-left-style: solid;
    border-right-style: solid;
}

.invisible {
    border: none;
    background: transparent;
}

.invisible:hover {
    border-left-color: #f0098d;
    border-right-color: #f0098d;
    border-left-style: solid;
    border-right-style: solid;

    border-top-style: solid;
    border-top-color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    background: white;
}

.train-stop:active, .invisible:active {
    color: black;
    border-left-color: #000000;
    border-right-color: #000000;
}

.station-label {
	float: left;
	display: inline-block;
	background-color: white;
	min-height: 10;
	font-family: Arial;
	font-size: 8pt;
	color: #333333;
}

